.similarArticles {
  margin-left: auto;
  margin-right: auto;
  padding-top: 41px;
  padding-bottom: 23px;
}

.similarArticles-section {
  background: #FCFCFC;
}

.similarArticles__title {
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #555555;
  display: block;
  max-width: 131px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;

  &:before {
    content: '';
    position: absolute;
    width: 44px;
    border-top: 1px solid #BEA267;
    left: -65px;
    top: 10px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 44px;
    border-top: 1px solid #BEA267;
    right: -65px;
    top: 10px;
  }
}

.similarArticles__block {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 30px;

  &:hover {
    text-decoration: none;
  }
}

.similarArticles__block-img {
  margin-bottom: 21px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.similarArticles__block-title {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #333333;
}

.similarArticles__wrapper {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .similarArticles__block-title {
    font-size: 10px;
  }

  .similarArticles__block-img {
    margin-bottom: 16px;
  }

  .similarArticles__block {
    padding-left: 0;
    padding-right: 0;
  }
}
