.articles-page {
  margin-top: 45px;
  margin-bottom: 150px;
}

.articles-page__nav-list {
  padding-top: 76px;
}

.articles-page__list {
  margin-left: -15px;
  margin-right: -15px;
}

.articles-page__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: left;
}

.articles-page__description {
  margin-bottom: 30px;
}

.articles-page__item {
  padding-left: 7px;
  padding-right: 7px;
}
