.new-design2020 {
  .entry-personal-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    background:rgba(255, 255, 255, .9);
  }

  .entry-personal-area_page-header-image {
    max-width: 321px;
    margin: auto 49px auto auto;
    min-height: 357px;
  }

  .entry-personal-area__body {
    padding: 26px 51px 37px 46px;
    display: flex;
    flex-direction: column;

    .btn {
      width: 100%;
      max-width: 100%;
      height: 40px;
      margin-bottom: 15px;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .gold-button {
      color: #222222;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .entry-personal-area__footer {
    background: rgba(34, 34, 34, .1);
    padding: 25px 51px 29px 46px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }

  .entry-personal-area__body-title {
    font-size: 18px;
    line-height: 22px;
    color: #222222;
    margin-bottom: 29px;
  }

  .entry-personal-area__footer-title {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #222222;
    display: block;
    margin-bottom: 11px;
  }

  .entry-personal-area__footer-num {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 3px;
  }

  .entry-personal-area__footer-text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.025em;
    color: #333333;
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .new-design2020 .entry-personal-area_page-header-image {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 650px) {
  .new-design2020 .entry-personal-area__body,
  .new-design2020 .entry-personal-area__footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
