.new-design2020 {
  .product-card {
    //max-width: 256px;
    max-width: 100%;
    margin-left: 21px;
    margin-right: 21px;
  }

  .product-card__description {
    display: flex;
    justify-content: space-between;
    padding: 10px 3.5px 0 2px;
  }

  .product-card__description-title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
    white-space: nowrap;
    position: relative;
    padding-right: 3px;

    &:before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      right: 0;
      box-shadow: inset -3px 0 5px -3px #ffffff
    }

  a {
      color: #333333;

      &:hover {
        color: #333333;
      }
    }

    span {
      color: #777777;
      font-weight: normal;
    }

    i {
      width: 1px;
      height: 10px;
      background: #BEA267;
      display: inline-block;
      margin-left: 3px;
      margin-right: 4px;
    }
  }

  .product-card__description-parameters {
    font-size: 13px;
    line-height: 16px;
    color: #333333;
    margin-bottom: 0;

    span {
      color: #777777;
    }
  }

  .product-card__img {
    height: 100%;
    display: block;
    position: relative;

    img {
      width: 100%;
      min-height: 375px;
    }
  }

  .product-card__description-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .product-card__description-price-old {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    color: #777777;
    position: relative;
    text-align: right;

    &:before {
      position: absolute;
      content: '';
      width: calc(100% + 7px);
      height: 1px;
      background: #F48378;
      right: -3px;
      top: 5px;
      margin: auto;
    }
  }

  .product-card__description-price-absent {
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #777777;
  }

  .product-card__description-price-current {
    margin-bottom: 0;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #333333;
    white-space: nowrap;
  }

  .product-card__description-text {
    overflow-x: hidden;
    max-width: 166px;
  }
  
  .product-card__description-mobil {
    display: none;
  }

  .product-card__liked {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 25px;
    height: 22px;
    background: url("../img/icon/like-icon-hollow.svg") no-repeat center;
    background-size: 100% auto;
    display: block;
    opacity: 0;
    z-index: -1;
    transition: 0.2s;
    cursor: pointer;

    &.active {
      background: url("../img/icon/like-icon-active.svg") no-repeat center;
      opacity: 1;
      z-index: 1;
    }
  }

  .product-card__discounts {
    position: absolute;
    top: 26px;
    right: 17px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #E04641;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }

  .product-card_catalogVersion {
    max-width: 100%;
    width: 100%;
    padding: 20px 30px 28px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.2s;

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
      transition: 0.2s;

      .product-card__liked {
        opacity: 1;
        z-index: 1;
        transition: 0.2s;
      }
    }

    .product-card__img img {
      min-height: 501px;
    }

    .product-card__description {
      padding-top: 14px;
    }

    .product-card__description-title {
      margin-bottom: 9px;
    }
  }

  @media (max-width: 1440px) {
    .product-card_catalogVersion .product-card__img img {
      min-height: 480px;
    }
  }

  @media (max-width: 1300px) {
    .product-card_catalogVersion {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }

  @media (max-width: 1199.98px) {
    .product-card {
      margin-left: 9px;
      padding-left: 21px;
      margin-right: 0;
      max-width: 100%;
    }

    .product-card_catalogVersion .product-card__img img {
      min-height: 400px;
    }
  }

  @media (max-width: 767.98px) {
    .product-card {
      max-width: 196px;
    }

    .product-card__img {
      img {
        min-height: auto;
        margin-top: auto;
        display: block;
      }
    }
    
    .product-card__description-desktop {
      display: none;
    }

    .product-card__description-mobil {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .product-card__description-price {
      flex-direction: row-reverse;
      align-items: center;
    }

    .product-card__description-price-current {
      margin-right: 6px;
      font-size: 12px;
    }

    .product-card.product-card_catalogVersion {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding: 10px 0 !important;
      margin-bottom: 0;

      .product-card__img img {
        height: auto;
        min-height: auto;
      }
    }

    .product-card__discounts {
      right: 10px;
      top: 10px;
      width: 40px;
      height: 40px;
    }

    .product-card__liked {
      right: 10px;
      bottom: 10px;
    }
  }
}