.shop-page-section {
  margin-bottom: 88px;
  margin-top: 9px;
}

.shop-page-section__title {
  margin-bottom: 44px;
}

.shop-page-section__img {
  width: 100%;
  padding-right: 7px;
}

.shop-page-section__wrapper {
  padding-left: 7px;
  padding-top: 10px;
}

@media (max-width: 991.98px) {
  .shop-page-section__img {
    padding-right: 0;
    object-fit: cover;
    margin-bottom: 30px;
    max-height: 400px;
  }

  .shop-page-section__wrapper {
    padding-left: 0;
  }
}
