@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/Proxima-Nova-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: 'Proxima Nova';
//  src: url('../fonts/Circle/Circe-ExtraLight.eot');
//  font-weight: 200;
//  font-style: normal;
//}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/Proxima-Nova-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/Proxima-Nova-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../../fonts/Proxima-Nova-Bold.otf');
  font-weight: bold;
  font-style: normal;
}

//@font-face {
//  font-family: 'Circe';
//  src: url('../fonts/Circle/Circe-ExtraBold.eot');
//  src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
//  url('../fonts/Circle/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
//  url('../fonts/Circle/Circe-ExtraBold.woff') format('woff'),
//  url('../fonts/Circle/Circe-ExtraBold.ttf') format('truetype');
//  font-weight: 800;
//  font-style: normal;
//}
