.new-design2020 {
  h1, .h1 {
    font-weight: 100;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1.8px;
    color: #333333;
  }

  h2, .h2 {
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.025em;
    color: #333333;
  }

  @media (max-width: 991.98px) {

  }

  @media (max-width: 767.98px) {
    h1, .h1 {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #333333;
    }

    h2, .h2 {
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      color: #333333;
    }
  }
}

