.new-design2020 {
  .footer {
    border-top: 1px solid #DFDBD4;
    background: #F7F5F1;
    padding-top: 38px;
    padding-bottom: 35px;
    overflow: hidden;

    .glyphicon-twitter:before {
      background-image: url(../img/icon/twitter.svg);
    }

    .glyphicon-vk:before {
      background-image: url(../img/icon/vk.svg);
    }

    .glyphicon-instagramm:before {
      background-image: url(../img/icon/instagramm.svg);
    }

    .glyphicon-facebook:before {
      background-image: url(../img/icon/facebook.svg);
    }

    .list-of-social-buttons {
      padding-top: 4px;
      margin-right: -4px;
    }
  }

  .footer_nav {
    padding-bottom: 30px;
    border-bottom: 1px solid #D5D5D5;
  }

  .footer__block-connection {
    padding-top: 22px;
  }

  .footer__title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 12px;
    display: block;
  }

  .footer__list-block {
    display: flex;

    ul {
      list-style-type: none;
      padding-left: 0;
      width: 50%;

      &:last-child {
        padding-left: 2px;
      }
    }

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      font-size: 14px;
      line-height: 17px;
      color: #777777;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .footer__btn.gold-button {
    margin-right: 0;
    width: 113px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: auto;
  }

  .footer__container-menu {
    padding-left: 14px;

    ul:first-child {
      width: 132px;
    }
  }

  .footer__container-form {
    padding-left: 20px;

    .footer__title {
      margin-bottom: 16px;
    }

    ul {
      display: flex;
      align-items: center;
    }

    input {
      min-width: 242px;
      width: 242px;
      background: #FFFFFF;
      border: 1px solid #D3D3D3;
      height: 40px;
      margin-right: auto;
    }
  }

  .footer__block-phone {
    display: flex;
    align-items: center;

    * {
      font-size: 14px;
      line-height: 17px;
      color: #777777;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .footer__block-phone-num {
    display: flex;
    align-items: center;
    margin-left: 2px;
  }

  @media (max-width: 1199.98px) {
    .footer__container-form {
      ul {
        flex-direction: column;
      }

      li {
        margin-right: 0;
        width: 100%;
      }

      input {
        min-width: 100%;
      }
    }
  }

  @media (max-width: 991.98px) {
    .footer__container-menu {
      padding-left: 8px;
      margin-top: 31px;
      margin-bottom: 47px;
      width: 100%;
    }

    .footer__list-block {
      width: 100%;
    }

    .footer__container-menu ul,
    .footer__container-menu ul:first-child {
      width: 50%;
    }

    .footer__container-form {
      padding-left: 8px;

      ul {
        flex-direction: row;
      }

      li {
        width: auto;

        &.footer__form {
          width: 100%;
          margin-right: 16px;
        }
      }
    }

    .footer__block-connection {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer__block-phone {
      margin-bottom: 28px;
    }

    #footer>div {
      margin-bottom: 0;
    }
  }

  @media (max-width: 767.98px) {
    .footer {
      padding-bottom: 30px;
      padding-top: 24px;
    }

    #footer {
      .form-control {
        min-width: auto;
        width: 100%;
      }

      .list-of-social-buttons {
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
        
        & > li:nth-child(2),
        & > li:nth-child(3) {
          display: none;
        }
      }
    }

    .footer__block-connection {
      flex-direction: row;
      justify-content: space-between;

      & > div:first-child {
        margin-right: auto;
      }
    }

    .footer__block-phone {
      margin-bottom: 0;
      align-items: flex-start;
    }

    .footer__block-phone-num {
      flex-direction: column;
      margin-left: 10px;
    }

    .footer__container-menu {
      margin-top: 17px;
      margin-bottom: 35px;
    }

    .footer__title {
      margin-bottom: 10px;
    }

    .footer_nav {
      padding-bottom: 7px;
    }

    .footer__block-connection {
      padding-top: 30px;
    }
  }
}