.new-design2020 {
  #header.header {
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding-top: 22px;
    position: relative;
    width: 100%;
    height: 146px;
    z-index: 1000;

    &:before {
      display: none;
    }

    .container {
      flex-direction: column;
    }
  }

  #header>.container:after {
    display: none;
  }

  .header__grid {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 18px;
  }

  .header__nav-container {
    transition: 0.2s;
    opacity: 1;
  }

  .header__grid-block {
    height: 100%;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header__search {
    display: flex;
    justify-content: flex-end;
    max-width: 298px;
    width: 100%;

    input {
      padding-left: 20px;
      width: 0;
      transition: 0.3s;
    }

    .header__search-btn {
      padding-left: 10px;
      padding-right: 13px;
      position: relative;
      z-index: 2;

      &:hover, &:active, &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  .header__search-bg {
    display: none;
  }

  .header__search.active {



    input {
      width: 100%;
      position: relative;
      z-index: 2;
    }
  }

  .header.openSearch .header__search-bg {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }

  .header__logo {
    display: flex;
    justify-content: center;
  }

  .header__logo-link {
    background: url("../img/icon/logo-main.svg") no-repeat center;
    background-size: 100% auto;
    width: 170px;
    height: 56px;
    display: block;
    transition: 0.2s;
  }

  .header__phone {
    display: flex;
    align-items: center;
  }

  .header__phone-number {
    font-size: 15px;
    line-height: 18px;
    color: #555555;
    margin-right: 10px;

    &:hover {
      text-decoration: none;
    }
  }

  .header__phone-icon {
    background: url("../img/icon/whatsapp-icon.svg") no-repeat center;
    background-size: 100% auto;
    width: 16px;
    height: 17px;
    display: block;
    position: relative;
    top: -2px;
  }

  .header__selected {
    margin-left: 16px;
    min-width: 156px;

    a {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 17px;
      color: #555555;

      &:hover {
        text-decoration: none;
        color: #BEA267;
      }

      i {
        background: url("../img/icon/like-icon.svg") no-repeat center;
        background-size: 100% auto;
        width: 19px;
        height: 17px;
        display: block;
        margin-right: 16px;
      }
    }

    &.active {
      a {
        i {
          background: url("../img/icon/like-icon-colorBroun.svg") no-repeat center;
          background-size: 100% auto;
        }
      }
    }
  }

  .header__search-icon {
    background: url("../img/icon/search-icon.svg") no-repeat center;
    background-size: 100% auto;
    width: 15px;
    height: 16px;
    display: block;
    padding: 0;
  }

  .header__search-input {
    border: none;

    &:hover,
    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  .header__search.active {
    border: 1px solid #D2D2D2;
  }

  .header__nav {
    display: flex;
    justify-content: center;
  }

  .header__list {
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 17px;
  }

  .header__item {
    display: flex;
    justify-content: center;
    margin-right: 45px;

    &:last-child {
      margin-right: 0;
    }
  }

  .header__nav-link {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #333333;
    position: relative;
    padding-bottom: 16px;

    &:before {
      content: '';
      position: absolute;
      margin: auto;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      width: 100%;
      height: 3px;
      background: #BEA267;
      opacity: 0;
      transition: 0.2s;
      //animation: hoverLinkTo 0.3s ease-in-out;
    }

    &:hover {
      color: #333333;
      text-decoration: none;

      &:before {
        //animation: hoverLinkFrom 0.3s ease-in-out;
        //animation-fill-mode: forwards;
        opacity: 1;
        transition: 0.2s;
      }
    }

    &:focus {
      color: #333333;
      text-decoration: none;

      &:before {
        animation: hoverLinkFrom 0.3s ease-in-out;
        animation-fill-mode: forwards;
      }
    }
  }

  .header__nav-link-colorGold {
    color: #BEA267;
    margin-left: 2px;

    &:hover {
      color: #BEA267;
    }
  }

  .header__mob-burger {
    display: none;
  }

  .header__mob-burger-text {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #333333;
    margin-left: 11px;
  }

  .header__mob-burger-icon {
    display: flex;
    flex-direction: column;
    max-width: 20px;
  }

  .header__mob-burger-line {
    height: 2px;
    background: #BEA267;
    display: block;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: 0.3s;
  }

  .header__mob-burger-line-1,
  .header__mob-burger-line-3 {
    width: 20px;
  }

  .header__mob-burger-line-2 {
    width: 14px;
  }

  #header.active {
    .header__mob-burger-line-2 {
      opacity: 0;
    }

    .header__mob-burger-line-1 {
      transform: rotate(45deg) translate(6px, 4px);
    }

    .header__mob-burger-line-3 {
      transform: rotate(-45deg) translate(5px, -2px);
    }
  }

  .header__mob-search {
    display: none;
  }
  
  .header__mob-menu {
    display: none;
  }
  
  .header__catalog-block {
    display: none;
  }
  
  .header__catalog-btn-close,
  .header__catalog-btn-filter {
    display: none;
  }

  @media (max-width: 991.98px) {
    #header.header {
      position: fixed;
      transition: 0.3s;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 51px;
      border-bottom: none;

      &.active {
        .header__mob-menu {
          height: 423px;
          opacity: 1;
          transition: 0.2s;
          margin-top: 10px !important;
        }
      }

      &.out {
        transition: 0.3s;
        transform: translateY(-100%);
      }

      .container {
        flex-direction: column;
      }
    }

    .header__mob-burger {
      display: flex;
      align-items: center;
    }

    .header__phone {
      display: none;
    }
    
    .header__nav-container {
      display: none;
    }

    .header__grid {
      padding-bottom: 0;
      border-bottom: none;
    }

    .header__logo-link {
      width: 94px;
      height: 31px;
    }

    .header__mob-menu-wrapper {
      padding-top: 0;
      display: flex;
      flex-direction: column;
      padding-left: 14px;
      padding-right: 14px;
    }

    .header__mob-menu-tel {
      padding-top: 53px;
      display: flex;
      align-items: center;

      i {
        margin-left: 15px;
        width: 16px;
        height: 17px;
      }

      a {
        font-size: 15px;
        line-height: 18px;
        color: #555555;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .header__mob-menu-list {
      margin-top: 15px;
      margin-bottom: 0;
      padding-left: 0;
      list-style-type: none;
    }

    .header__mob-menu-item {
      margin-bottom: 13px;
      padding-bottom: 14px;
      border-bottom: 1px solid rgba(205, 205, 205, .5);

      a {
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #333333;

        &:hover {
          text-decoration: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .header__mob-menu {
      display: block;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(10px);
      width: calc(100% + 32px) !important;
      height: 0;
      opacity: 0;
      transition: 0.2s;
      overflow: hidden;
    }

    .header__search-input {
      display: none !important;
    }

    .header__search.active {
      width: 0;
      border: none;
    }

    .header__logo {
      margin-left: -10px;
    }

    .header__logo-link {
      min-width: 94px;
    }

    .header__selected {
      min-width: auto;
      margin-left: 2px;

      a i {
        margin-right: 0;
      }

      span {
        display: none;
      }
    }

    .header__mob-search-container {
      opacity: 0;
      height: 0;
      transition: 0.2s;
      overflow: hidden;
    }

    .header__mob-search {
      display: block;
      margin-top: 10px;
      padding-top: 5px;
      position: relative;
      z-index: 3;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        width: 120%;
        height: 1px;
      }

      input {
        border: none;
        height: 58px;
        width: 100%;
        font-size: 14px;
        line-height: 17px;
        color: #555555;

        &:focus {
          outline: none;
        }
      }

    }

    #header.openSearch {
      .header__mob-search-container {
        height: 73px;
        opacity: 1;
        transition: 0.2s;
      }
    }
  }

  @media (max-width: 767.98px) {
    .header__catalog {

      .header__catalog-btn {
        max-width: 169px;
        min-width: 169px;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        border: 1px solid #222222;
        border-radius: 2px;
        color: #333333;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;

        span {
          display: none;
          min-width: 20px;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background: #BEA267;
          font-weight: 600;
          font-size: 12px;
          line-height: 15px;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-left: 10px;
        }
      }

      .header__catalog-block {
        &.noted {
          .header__catalog-btn {
            border: 1px solid #BEA267;
            color: #BEA267;

            span {
              display: flex;
            }
          }
        }
      }
    }
  }

  @media (max-width: 360px) {
    .header__catalog .header__catalog-btn {
      min-width: 120px;
    }
  }
}

@media (min-width: 992px) {
  .catalog-body.new-design2020 {

    #header.header {
      position: fixed;
      min-height: auto;
      transition: .3s;
      padding-top: 22px;
      height: 146px;

      &.out {
        transform: translateY(-100%);
      }

      &.noLogo {
        height: 51px;
        padding-top: 10px;
        transition: .3s;

        .header__logo-link {
          display: none;
        }

        .header__nav-container {
          transform: translateY(-130%);
          max-width: 529px;
          margin-left: auto;
          margin-right: auto;
        }

        .header__grid {
          border-bottom: none;
        }

        .header__list {
          margin-top: 0;
        }

        .header__nav {
          max-width: 529px;
          margin-left: auto;
          margin-right: auto;
        }

        .header__search {
          input {
            padding-left: 0;
          }

          &.active {
            position: relative;
            z-index: 1;
            input {
              padding-left: 20px;
            }
          }
        }
      }
    }

  }

  @media (max-width: 1080px) {
    .catalog-body.new-design2020 {

      #header.header {
        .header__item {
          margin-right: 30px;
        }
      }

    }
  }
}

@media (max-width: 767.98px) {
  .catalog-body.new-design2020 {
    #header.header {
      &.noFilter {
        .header__catalog-btn-close {
          display: none;
        }
      }

      &.hasFilter {
        .header__catalog-btn-filter {
          display: none;
        }
      }
    }

    .header__catalog {
      &.open {
        .header__logo {
          display: none;
        }

        .header__catalog-block {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }


  }
}