.accountEntry-icon {
  background: url("../img/icon/account-entry.svg") no-repeat center;
  background-size: 100% auto;
  width: 17px;
  height: 17px;
  display: block;
}

.header__accountEntry-icon {
  min-width: 17px;
  margin-right: 12px;
}

.header__accountEntry {
  margin-left: 29px;

  a {
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: none;

      span {
        color: #bea267;;
      }
    }
  }

  span {
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    white-space: nowrap;
  }
}

.new-design2020 .header__search input {
  background: initial;
}

.new-design2020 .header__search.active input {
  background: #ffffff;
}

@media (min-width: 992px) {
  .new-design2020 #header.header.openSearch .header__selected,
  .new-design2020 #header.header.openSearch .header__accountEntry {
    max-width: 0;
    min-width: 0;
    opacity: 0;
    transition: .2s;
    margin: 0;
  }
}

@media (max-width: 991.98px) {
  .header__accountEntry-icon {
    margin-right: 0;
  }

  .header__accountEntry {
    margin-left: 15px;

    span {
      display: none;
    }
  }
}
