
.accordion {
  background-color: initial;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #777777;
  cursor: pointer;
  padding: 18px 0 25px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  max-width: 172px;

  i {
    background: url("../img/icon/arrow-grey.svg") no-repeat center;
    background-size: 100% auto;
    width: 12px;
    height: 7px;
    display: block;
    transition: 0.2s;
  }

  &.active {
    i {
      transform: rotate(180deg);
      transition: 0.2s;
    }
  }

  &.accordion_nested {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #BEA267;
    text-transform: initial;
    padding-bottom: 16px;
  }
}

.accordion_nested-text {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 0;
}

.accordion_nested-form {
  margin-bottom: 17px;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion_nested-form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 182px;
  width: 100%;
}

.accordion_nested-form-input {
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  height: 30px;
  max-width: 54px;
}

.accordion__text {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  margin-bottom: 12px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion__list {
  padding-left: 9px;
  margin-top: 5px;
  margin-bottom: 4px;
}

.panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.marked-block {
  padding: 4px 9px 4px 10px;
  background: #F7F5F1;
  border: 1px solid #EAE8E4;
  display: inline-block;
  margin-bottom: 8px;

  span {
    font-size: 14px;
    line-height: 17px;
    color: #777777;
  }

  button {
    border: none;
    background: initial;
    background: url("../img/icon/close-icon-grey.svg") no-repeat center;
    background-size: 100% auto;
    width: 7px;
    height: 7px;

    &:focus {
      outline: none;
    }
  }
}

.marked-block-container {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filtration__header-text {
  font-size: 14px;
  line-height: 17px;
  color: #555555;
}

.filtration__header-block {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.filtration__header {
  display: flex;
  align-items: center;
}

.filtration__header-arrow {
  background: url("../img/icon/arrow-icon.svg") no-repeat center;
  background-size: 100% auto;
  width: 21px;
  height: 16px;
  display: block;
  border: none;
}