.new-design2020  {
  .portfolioExample-page {
    margin-top: 56px;
    margin-bottom: 48px;
  }

  .portfolioExample-page__row {
    margin-left: -5px;
    margin-right: -5px;
    width: auto !important;
  }

  .portfolioExample-page__col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .portfolioExample-page__content-header {
    display: flex;
    align-items: flex-start;
    margin-bottom: 25px;
  }

  .portfolioExample-page__content-header-block {
    background: rgba(237, 233, 222, .7);
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 70px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      color: #333333;
    }
  }

  .portfolioExample-page__content-header-title {
    text-align: left;
    margin: 0;
  }

  .portfolioExample-page__content-wrapper {
    border-bottom: 1px solid #E6E6E6;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .portfolioExample-page__content-wrapper-1 {
    padding-top: 22px;
    padding-bottom: 33px;
    border-top: 1px solid #E6E6E6;
  }

  .portfolioExample-page__content-wrapper-2 {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .portfolioExample-page__content-linkBack {
    color: #BEA267;
    margin-top: 27px;
    margin-bottom: 10px;
    display: block;
  }

  .btn.portfolioExample-page__content-btn {
    max-width: 340px;
    margin-top: 16px;
  }

  .portfolioExample-page__content-catalog {
    display: flex;
    flex-direction: column;
  }

  .portfolioExample-page__content-catalog-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 20px;
    display: block;
    padding-left: 8px;
  }

  .portfolioExample-page__card-container.article-card-group {
    .product-card {
      margin-left: 0;
      margin-right: 0;
    }

    .product-card__liked {
      display: none;
    }
  }

  .portfolioExample-page__image {
    width: 100%;
  }

  .portfolioExample-page__imgContainer {
    position: relative;
  }

  .portfolioExample-page__imgContainer span,
  .portfolioExample-page__mobil-link-goBack {
    display: none;
  }
}

@media (max-width: 1080px) {
  .new-design2020 {
    .btn.portfolioExample-page__content-btn {
      max-width: 100%;
      font-size: 14px;
    }
  }
}

@media (max-width: 991.98px) {
  .new-design2020 {

    .portfolioExample-page {
      margin-top: 0;
      margin-bottom: 36px;
    }

    .portfolioExample-page__imgContainer {
      margin-bottom: 14px;
    }

    .portfolioExample-page__image {
      width: calc(100% + 60px);
      margin-left: -30px;
      margin-right: -30px;
    }

    .portfolioExample-page__card-container.article-card-group  {
      .product-card {
        max-width: 268px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .new-design2020 {

    .portfolioExample-page__content-linkBack.text-description {
      display: none;
    }

    .portfolioExample-page__content-catalog {
      margin-top: 24px;
    }

    .portfolioExample-page__imgContainer {

      span {
        position: absolute;
        bottom: 18px;
        left: 0;
        background: rgba(237, 233, 222, .7);
        padding-top: 20px;
        padding-bottom: 20px;
        width: 69px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        color: #333333;
      }
    }

    .portfolioExample-page__content-header-block {
      display: none;
    }

    .portfolioExample-page__content-header {
      margin-bottom: 20px;
    }

    .portfolioExample-page__mobil-link-goBack {
      display: block;
      text-align: center;
      padding-top: 40px;
      border-top: 1px solid #E6E6E6;

      a {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #BEA267;
      }
    }

    .article-card-group.portfolioExample-page__card-container {
      padding-bottom: 30px;
    }

    h2.portfolioExample-page__content-header-title {
      font-size: 18px;
      font-weight: normal;
      line-height: 22px;
      letter-spacing: 0.05em;
    }

    .portfolioExample-page__col {
      padding-left: 0;
      padding-right: 0;
    }

    .portfolioExample-page__image {
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}


