.new-design2020 {
  .designer-collections {
    padding-top: 26px;

    .h2 {
      margin-top: 0;
      margin-bottom: 26px;
    }
  }

  @media (max-width: 767.98px) {
    .designer-collections {
      padding-top: 33px;

      .h2 {
        margin-bottom: 13px;
      }
    }
  }
}

