.new-design2020 {
  .first-screen-home {
    background: #F7F5F1;
    padding-bottom: 33px;
    padding-top: 24px;

    h1.h1 {
      margin-top: 0;
      margin-bottom: 19px;
      text-align: center;
      text-transform: uppercase;
    }

    .list-of-categories {

      .thumbnail {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 3px solid #ffffff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
      }

      .thumbnail_first {
        margin-left: 0;
        margin-right: 7px;
      }

      .thumbnail_second {
        margin-left: 7px;
        margin-right: 7px;
      }

      .thumbnail_third {
        margin-left: 7px;
        margin-right: 0;
      }

      figure>picture{
        background-size: cover;
        position: relative;
        min-height: 581px;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          background: rgba(190, 162, 103, .5);
          transition: 0.5s;
        }
      }

      figure:hover>picture {
        filter: none;
        background-size: cover;
        //min-height: 462px;

        &:before {
          opacity: 1;
          transition: 0.5s;
        }
      }

      figure>figcaption.caption {
        top: 0;
        bottom: calc(100% - 90px);
        box-shadow: none;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 19.43%, rgba(0, 0, 0, .3) 91.88%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 85px;
      }

      figure:hover>figcaption {
        bottom: 0;
        height: auto;
        box-shadow: none;
        //padding-top: 47%;
        padding-top: 0;

        .h3, h3 {
          padding-top: 4px;
          margin-bottom: 4px;
        }

        p {
          margin-bottom: 29px;
        }
      }

      figure>figcaption>div.h3,
      figure>figcaption>h3 {
        font-weight: 300;
        letter-spacing: 0.2px;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px;
        margin-bottom: 1px;
      }

      figure>figcaption>p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #DFDFDF;
        text-align: center;
        margin-bottom: 31px;
        margin-right: 5px;
      }

      .btn-outline {
        max-width: 139px;
        padding: 13px;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        border: 2px solid #ffffff;
      }
    }

    .list-mini-categories {
      margin-top: 34px;

      figure {
        line-height: 1.5;
        display: block;
        transition: border .2s ease-in-out;
        border-radius: 0;
        position: relative;
        border-width: 0;
        padding: 0;
        margin-bottom: 0;
        background-color: transparent;
        //max-width: 271px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        &:hover {
          figcaption {
            top: 0;
            box-shadow: none;
          }

          picture {
            background-size: cover;
            transition: .4s;
            &:before {
              opacity: 1;
              transition: 0.5s;
            }
          }

          .btn-outline {
            opacity: 1;
          }

          .h3 {
            bottom: 0;
          }
        }
      }

      .list-mini-categories__figure-1 {
        margin-left: 0;
        margin-right: 7px;
      }

      .list-mini-categories__figure-2,
      .list-mini-categories__figure-3 {
        margin-left: 7px;
        margin-right: 7px;
      }

      .list-mini-categories__figure-4 {
        margin-left: 7px;
        margin-right: 0;
      }

      picture {
        position: relative;
        background-size: cover;
        min-height: 222px;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        transition: .4s;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(190, 162, 103, .5);
          transition: .5s;
          opacity: 0;
        }
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: calc(100% - 70px);
        padding: 16px;
        text-align: center;
        box-shadow: none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 19.43%, rgba(0, 0, 0, .3) 91.88%);
        transition: .4s;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .h3 {
          margin: 0;
          margin-bottom: 20px;
          font-weight: 500;
          font-size: 17px;
          line-height: 19px;
          text-transform: uppercase;
          color: #FFFFFF;
          position: relative;
          bottom: -43px;
          transition: 0.4s;
        }
      }

      .btn-outline {
        max-width: 124px;
        padding: 13px;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
        border: 2px solid #ffffff;
        color: #ffffff;
        opacity: 0;
        transition: .4s;
      }
    }

    .thumbnail .caption {
      max-width: 100%;
    }
  }

  @media (max-width: 1440px) {
    .first-screen-home {
      .list-of-categories figure>picture {
        min-height: 556px;
      }

      .list-mini-categories figure>picture {
        min-height: 213px;
      }
    }
  }

  @media (max-width: 1366px) {
    .first-screen-home {
      .list-of-categories figure>picture {
        min-height: 525px;
      }

      .list-mini-categories figure>picture {
        min-height: 201px;
      }
    }
  }

  @media (max-width: 1280px) {
    .first-screen-home {
      .list-of-categories figure>picture {
        min-height: 488px;
      }

      .list-mini-categories figure>picture {
        min-height: 187px;
      }
    }
  }

  @media (max-width: 1199.98px) {
    .first-screen-home {
      .list-of-categories figure>picture {
        min-height: 433px;
      }

      .list-mini-categories figure>picture {
        min-height: 166px;
      }
    }
  }

  @media (max-width: 991.98px) {
    .first-screen-home {
      .list-of-categories {
        figure>picture,
        figure:hover>picture {
          background-size: cover;
          background-position: center bottom;
        }

        .btn-outline {
          display: inline-block;
        }
      }
    }

    .first-screen-home {
      .list-of-categories figure>picture {
        min-height: 381px;
      }

      .list-mini-categories figure>picture {
        min-height: 174px;
      }
    }
  }

  @media (max-width: 800px) {
    .first-screen-home {
      .list-of-categories figure>picture {
        min-height: 301px;
      }

      .list-mini-categories figure>picture {
        min-height: 114px;
      }
    }
  }

  @media (max-width: 767.98px) {

    .first-screen-home {
      padding-bottom: 2px;

      h1.h1 {
        margin-bottom: 13px;
      }

      .container {
        padding-left: 0;
        padding-right: 0;
      }

      .list-of-categories {

        & > div {
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 2px;
        }

        .thumbnail {
          max-width: 100%;
          height: 164px;
          margin-left: 0;
          margin-right: 0;
        }

        figure>figcaption.caption {
          padding-top: 0;
        }

        figure:hover>picture,
        figure>picture {
          background-size: cover;
          min-height: 164px;
        }

        figure>figcaption>p,
        figure:hover>figcaption p {
          margin-bottom: 0;
          display: none;
        }

        figure>figcaption,
        figure:hover>figcaption {
          padding-top: 0;
          padding-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
        }

        .btn-outline {
          display: none;
        }
      }

      .list-of-categories figure>figcaption>div.h3,
      .list-of-categories figure>figcaption>h3 {
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #222222;
        font-weight: normal;
        background: rgba(255, 255, 255, .8);
        width: 180px;
        height: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0 !important;
        padding-top: 0 !important;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .list-mini-categories {
        margin-top: 0;

        picture {
          min-height: 163px;
        }

        & > div {
          padding-bottom: 2px;
        }

        & > div:nth-child(odd) {
          padding-left: 0;
          padding-right: 1px;
        }

        & > div:nth-child(even) {
          padding-left: 1px;
          padding-right: 0;
        }

        figure {
          max-width: 100%;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }

        .btn-outline {
          display: none;
        }

        figcaption {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          top: 0;
          padding: 0;

          .h3 {
            position: static;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 600;
            color: #222222;
            background: rgba(255, 255, 255, .8);
            width: 164px;
            height: 30px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .list-mini-categories figure:hover picture,
      .list-mini-categories figure picture {
        background-size: 110% 110%;
      }
    }

    .first-screen-home .list-mini-categories figure>picture {
      min-height: 164px;
    }
  }
}