.new-design2020 {
  .main-text_section {
    margin-top: 84px;

    .h2 {
      margin-top: 0;
      margin-bottom: 21px;
      text-align: left;
      padding-left: 4px;
    }
  }

  .main-text__order {
    background: #F7F5F1;
    max-width: 469px;
    margin-right: auto;
  }

  .main-text__order-img {
    width: 100%;
  }

  .main-text__order-container {
    padding: 26px 51px 42px 36px;
  }

  .main-text__order-title {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 22px;
    display: block;
    max-width: 355px;
  }

  .main-text__order-text {
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 30px;
    display: block;
  }

  .main-text__wrapper {
    margin-left: 5px;
  }

  .main-text__paragraph {
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    display: flex;
  }

  p.main-text__paragraph {
    margin-bottom: 11px;
  }

  .main-text__list-container-1 {
    margin-top: 26px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;

    ul {
      width: 50%;
      padding-left: 33px;
      margin-bottom: 0;
      list-style-type: none;

      li {
        margin-bottom: 18px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .main-text__list-container {
    list-style-type: none;

    ul {
      list-style-type: none;
    }

    li {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        background: #BEA267;
        width: 9px;
        height: 2px;
        display: block;
        top: 8px;
        left: -22px;
      }
    }
  }

  .main-text__list-container-2 {
    margin-top: 20px;
    margin-bottom: 18px;
    display: flex;
    padding-left: 0;

    ul {
      padding-left: 35px;
    }

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .main-text__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #555555;
  }

  .main-text__list-container-3 {
    display: flex;
    margin-top: 15px;

    ul {
      width: 50%;
      padding-left: 35px;

      &:nth-child(2) {
        padding-left: 29px;
      }
    }

    li {
      margin-bottom: 24px;
      max-width: 251px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .main-text__list-container-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #333333;
    margin-bottom: 4px;
    display: block;
  }

  .main-text__wrapper-mobil-btn {
    display: none;
  }


  @media (max-width: 991.98px) {
    .main-text__order {
      margin-right: 20px;
      margin-bottom: 20px;
    }

    .main-text__order-container {
      padding: 22px 24px 40px;
    }

    .main-text__order-title {
      font-size: 18px;
      line-height: 22px;
    }
  }

  @media (max-width: 767px) {
    .main-text_section {
      margin-top: 7px;
      
      .h2 {
        text-align: center;
        margin-bottom: 16px;
      }

      .container {
        padding-left: 0;
        padding-right: 0;
      }

      .row > div:first-child {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .main-text__order-title {
      margin-bottom: 27px;
    }

    .main-text__order-text {
      margin-bottom: 21px;
    }

    .main-text__order {
      margin-right: 0;
      margin-bottom: 33px;
      max-width: 100%;
    }

    .main-text__order-img {
      max-width: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .main-text__order-container {
      padding: 19px 19px 24px 19px;

      .gold-button {
        margin-left: auto;
        margin-right: auto;
      }
    }

    .main-text__wrapper {
      padding-left: 12px;
      padding-right: 12px;
      margin-left: 0;
    }

    .main-text__list-container-3 {
      display: flex;
      flex-direction: column;

      ul {
        padding-left: 25px !important;
        width: 100%;
        margin-bottom: 0;
      }

      li {
        max-width: 100%;
        margin-bottom: 24px !important;
      }
    }

    .main-text__list-container-1 {
      display: flex;
      flex-direction: column;

      ul {
        width: 100%;

        li {
          margin-bottom: 18px !important;
          
          br {
            display: none;
          }
        }
      }
    }

    .main-text__wrapper-mobil-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      line-height: 18px;
      text-transform: uppercase;
      color: #BEA267;
      margin-top: 27px;

      i {
        background: url("../img/icon/gold-arrow-icon.svg") no-repeat center;
        background-size: 100% auto;
        width: 8px;
        height: 8px;
        display: block;
        margin-left: 6px;
        transform: rotate(180deg);
      }
    }

    .main-text__wrapper.active {
      .main-text__wrapper-mobil-btn {
        i {
          transform: rotate(0deg);
        }
      }

      .main-text__wrapper-mobil-bottom {
        display: block;
      }
    }

    .main-text__wrapper-mobil-bottom {
      padding-top: 20px;
      display: none;

      &.active {
        display: block;
      }
    }
  }

  @media (max-width: 375px) {
    .main-text__order-img {
      max-height: 397px;
    }
  }
}

