.new-design2020 {
  .sell-out-section {
    padding-top: 24px;

    h2 {
      margin-bottom: 24px;
      margin-top: 0;
      text-align: center;
    }
  }

  @media (max-width: 767.98px) {
    .sell-out-section {
      padding-top: 26px;

      h2.h2 {
        margin-bottom: 13px;
      }

      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}