.portfolio-page {
  padding-bottom: 15px;
}

.portfolio-page__title {
  color: #555555;
  margin-bottom: 34px;
}

.portfolio-page__subtitle {
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 17px;
  color: #777777;
}

.portfolio-page__row {
  margin-left: auto;
  margin-right: auto;
}
